<app-header></app-header>

<form #data="ngForm">

    <div class="container" style="width:500px;float:left;margin-left: 100px;">
        <br />
        <h1>Login Form</h1>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" 
            name="email" 
            [(ngModel)]="email" 
            class="form-control" 
            #uEmail="ngModel" 
            email
            required />
        </div>
        <span class="help-block" *ngIf="!uEmail.valid && uEmail.touched" class="alert alert-danger">
            please enter valid email!
        </span>
        <br />

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" 
            name="password" 
            minlength=6 
            [(ngModel)]="password" 
            class="form-control" 
            required />
        </div>
        <br />

        <div class="form-group">
            <input type="submit" 
            value="submit" 
            class="btn btn-primary" 
            (click)="validate()" 
            [disabled]=!data.valid />
            
            <input type="submit" 
            value="cancel" 
            class="btn btn-danger" 
            routerLink="/home" />
        </div>
    </div>
    
</form>